---
---
@charset "utf-8";

$horizontal-padding: 3%;
$vertical-padding: 3%;
$footer-margin: 1em;
$footer-height: 3em;
$sponsor-height: 2em;
$arrow-height: $footer-height / 2;
$arrow-width: $arrow-height;
$arrow-spacing: $arrow-width / 2;

$arrow-color: #AAAAAA;
$link-color: #C32F34;

body {
  font-family: 'Droid Serif', Times, serif;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,h2,h3 {
  margin-bottom: 0.7em;
}

h1 {
  font-size: 1.8em;
  margin-top: 0;
}

h2,h3 {
  margin-top: 2em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  line-height: 1.3;
  margin: 0 auto;
  margin-bottom: 1em;
}

a {
  color: $link-color;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;

  &.center {
    text-align: center;
  }

  img {
    max-width: 100%;
    max-height: 50%;
  }
}

footer {
  margin-top: $footer-margin;
  height: $footer-height;
  position: relative;
}

.pagination {
  position: absolute;
  right: $horizontal-padding;
  bottom: $footer-height - $sponsor-height;
  text-align: left;
  height: $arrow-height;
  width: $arrow-width * 2 + $arrow-spacing;

  a {
    display: block;
    float: left;
    text-indent: -99999px;
    width: 0;
    height: 0;
    border-top: $arrow-height / 2 solid transparent;
    border-bottom: $arrow-height / 2  solid transparent;
  }

  #prev {
    border-right: $arrow-width solid $arrow-color;
  }

  #next {
    border-left: $arrow-width solid $arrow-color;
    margin-left: $arrow-width + $arrow-spacing;
  }

  #prev + #next {
    margin-left: $arrow-spacing;
  }
}

.sponsor {
  position: absolute;
  bottom: $footer-height - $sponsor-height;
  left: $horizontal-padding;
  max-width: 30%;
  height: $sponsor-height;

  a {
    text-decoration: none;
  }

  span {
    display: block;
    font-size: 0.5em;
  }

  img {
    height: 100%;
  }
}
